.one aside {
  position:relative;
  float:right;
}
.two aside {
  /* position: relative;
  top:250px;
  left:600px; */
  position:absolute;
  margin-left:600px;
  margin-right:auto;
  margin-top: 40px;
}
.three aside{
  position:fixed;
  top:0;
  right:0;
  z-index:10;
  background-color:#78c986;
  /* position:fixed; */
}
.four aside{
  position:relative;
}
.four aside:first-of-type {
  background-color:red;
  position:absolute;
  margin-left:300px;
  margin-right:auto;
  z-index:10;
}
.four aside:last-of-type{
  position:absolute;
  background-color:black;
  margin-left:310px;
  margin-right:auto;
  top:2045px;
}
.four aside {
margin:auto;
}
