span{
  color:#ffcc00; font-weight: bold;
}
.two {
  color:#519d8c; font-weight: bold;
}
.three{
  color:#526dbc; font-weight: bold;
}
.four{
  color:#f87c7c;font-weight: bold;
}
.five{
  color:#ec8b1c;font-weight: bold;
}
