body{
  width:100%;
  margin-top:0px;
  margin-left:0px;
}
.openimage img {
  /* height:300px; */
  width: 100%;
}
.title{
  margin-top: 21px;
}
.title h1{
  text-align:center;
  font-family: macho, sans-serif;
  font-weight: 300;
  width:225px;
  line-height:1.1;
  font-size:26px;
  margin-bottom:0px;
  margin:auto;
}
.title p {
  width:225px;
  font-family: macho, sans-serif;
  font-weight: 400;
  font-style: italic;
  color:#CA8B7B;
  margin-top:7px;
  text-align: right;
  margin-left:auto;
  margin-right:auto;
  font-size:15px;
}
.info {
  background-color:#CA8B7B;
  width:295px;
  height:73px;
  margin:auto;
  border-radius:16px;
}
.info div{
  display: inline-block;
  margin-top:15px;
}
.info span{
  font-family: macho, sans-serif;
  font-weight: 600;
  font-size:11px;
  color:white;
  padding-left:20px;
  padding-top:14px;
  margin-top:0;
  margin-bottom:0px;
}
.info p{
  font-family: macho, sans-serif;
  font-weight: 400;
  font-style: normal;
  color:white;
  font-size:14px;
  padding-top:1px;
  padding-left:20px;
  margin-top:0px;
}
.info .cooktime {
  padding-left:35px;
}
.info .servingsize {
  padding-left:20px;
}
.ingredients {
  margin-left:20%;
  margin-right:20%;
}
.ingredients h1{
  font-family: macho, sans-serif;
  font-weight: 700;
  font-size:16px;
  margin-top:30px;
  margin-bottom:20px;
  color:#CA8B7B;
}
.ingredients p{
  margin-top:0px;
  margin-bottom:0px;
  font-family: macho, sans-serif;
  font-weight: 400;
  font-size:14px;
  line-height:21px;
}
.ingredients div{
  font-family: macho, sans-serif;
  font-weight:200;
  font-size:13px;
  line-height:16px;
  margin-top:13px;
}

.instructions h1{
  margin-left:13%;
  font-family: macho, sans-serif;
  font-weight: 700;
  font-size:16px;
  margin-top:30px;
  margin-bottom:5px;
  color:#CA8B7B;
}
.instructions{
  margin-left:10%;
  margin-right:10%;
}
.instructions div{
  display:inline-block;
  margin-bottom:10px;
  position:relative;
  margin-top:20px;
}
.instructions span{
  font-family: azo-sans-web, sans-serif;
  font-weight: 200;
  font-size:30px;
  color:#CA8B7B;
  position:absolute;
  margin-top:-5px;
}
.instructions span:last-child{
  padding-right:10px;
}

.instructions p{
  font-family: macho, sans-dserif;
  font-weight: 400;
  font-style: normal;
  font-size:14px;
  line-height:18px;
  margin-bottom:0px;
  padding-left:40px;
  margin-top:-.001px;
}
.instructions img {
  width:100%;
  border-radius:16px;
  margin-top:25px;
}
