body{
  margin-left: 60px;
  line-height: 1.5;
}
h1{
  color: orange;
  font-family: 'Ubuntu', sans-serif;
  font-size: 32px
}
h2 {
  font-family: sans-serif;
  font-weight:lighter;
  color: orange;
  font-size: 16px;
  margin-top: 40px;
}
div {
  font-family: 'Ubuntu', sans-serif;
  font-size: 16px
}
div.label{
  font-family: monospace;
  font-size: 12px;
  color: grey;
}
div.light {
  font-weight: 300;
}
div.reg {
  font-weight: 400;
}
div.med {
  font-weight: 500;
}
div.bold{
  font-weight: 700;
}
div.italics{
  font-style: italic;
}
div.line0{
  letter-spacing: -.1em;
}
div.line1{
  letter-spacing: .1em;
}
div.line2{
  letter-spacing: .3em;
}
div.line3{
  letter-spacing: .5em;
}
div.uc{
  text-transform: uppercase;
}
div.lc{
  text-transform: lowercase;
}
div.cap{
  text-transform: capitalize;
}
div.ul{
  text-decoration: underline;
}
div.ol{
  text-decoration: overline;
}
div.lt{
  text-decoration: line-through;
}
div.wavy{
  text-decoration-line: underline;
  text-decoration-style: wavy;
}
footer{
  color: orange;
  font-family: sans-serif;
  font-weight: lighter;
  font-size: 16px
}
